.noteBox {
  border-radius: 5px;  
  width: 100%;
  background-color: #fff;
}

.noteBox > div {
  height: 100%;
}

.newNote {
  background-color: #fafafa;
}

.newButton {
  margin: 30px auto;
}

.noteList {
  height: 100%;
}